<div class="col-md-6 col-md-offset-3">
    <h1 class="margin-bottom">Edit <%= @listing.name %></h1>

    <%= render 'form', listing: @listing %>

    <div class="margin-top center">
        <%= link_to 'Show', @listing, class: "btn btn-link" %> |
        <%= link_to 'Back', listings_path, class: "btn btn-link" %>
    </div>
</div>